h3 {
	margin: 0;
}
/* Custom Calendar CSS */
.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
	background: #337ab7 !important;
	border: 1px solid #337ab7 !important;
}

.DateInput_input__focused {
	border-bottom: 2px solid #337ab7 !important;
}
/* End Custom Calendar CSS */
.titleNews {
	min-height: 35px;
}
#navHeader
{
	background-color: #222;
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	background-repeat: repeat-x;
	border-color: #080808;
	border-width: 0 0 1px;
	border: 1px solid transparent;
	margin-bottom: 20px;
	min-height: 50px;
	position: relative
	top: 0;
}
#pageSubTitle {
	color: #FFF;
	font-size: 20px;
}
#pageTitle {
	color: #FFF;
	font-size: 30px;
}
#savedSection .panel-body {
    padding: 0;
}
#savedSection .savedArticle {
	border-top: 0;
	border-right: 1px;
	border-bottom: 1px;
	border-left: 1px;
	border-color: #337ab7;
	border-style: solid;
	padding: 10px;
}
#searchSection input.DateInput_input {
	height: 34px;
}
#searchSection .panel-form-group {
	margin-bottom: 15px; 
}
